:root {
    --blanco: #ffffff;
    --gris-claro: #e9e9f1;
    --fondo: #f4f4f4;
    --negro: #000000;
    --azul-logo: #001430;
    --celeste-bri: #00e3f8;
    --celeste: #0dc8f3;
    --principal: #19a2d9;
    --secundario: #0f3ab5;
    --boton-azul: #2643d4;
    --fuente-principal: 'Inter', sans-serif;
}

/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para Box Model */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-size: 16px; /* 1rem = 10px */
    background-color: var(--gris-claro);
    margin: 0;
    font-family: var(--fuente-principal);
}

.contenedor-principal {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    padding: 2rem 1rem;
    box-sizing: border-box;
}

.encabezado {
    font-family: 'Inter', sans-serif;
    margin-bottom: 2rem;
}

.encabezado h1 {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.encabezado p {
    color: #888;
    margin-top: 0;
}

.calendario-container {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}

.calendario-container img {
    max-width: 75%;
    height: auto;
    border-radius: 1.2rem;
}

.cal-mobile { 
    display: none;
}

@media (max-width: 768px) {
    .cal-desktop { display: none; }
    .cal-mobile  { display: block; }
}