.calendario-container {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}

.calendario-container img {
    max-width: 75%;
    height: auto;
    border-radius: 1.2rem;
}

.cal-mobile { 
    display: none;
}

@media (max-width: 768px) {
    .cal-desktop { display: none; }
    .cal-mobile  { display: block; }
}