/* Contenedor centrado genérico */
.contenedor-principal {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem 1rem;
    box-sizing: border-box;
}

/* Encabezado de página (avisos, calendario, recursos...) */
.encabezado-pagina {
    font-family: var(--fuente-principal);
    margin-bottom: 2rem;
}

.encabezado-pagina h1 {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.encabezado-pagina p {
    color: #888;
    margin-top: 0;
}

/* Footer */
.footer {
    background-color: var(--azul-logo);
    height: 40rem;
    position: relative;
}

.contenido-footer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 1.5rem;
}

.footer h1 {
    color: var(--blanco);
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
}

.footer p {
    color: var(--blanco);
}

p.copy {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 2rem 0;
    text-align: center;
}